
.col {
    height: 2rem;
    width: 100%;
    cursor: pointer;
    border: 0.0625rem solid white;
}

.sea-cell {
    background-color: RGB(108, 218, 231);
    transition: background-color 1s;
}

.land-cell {
    background-color: RGB(139, 98, 76);
    transition: background-color 1s;
}

@media (max-width:320px) {
    .col {
        height: 1rem;
    }
}

